No discovery error thrown/shown on Webfinger 404 responses

Someone stumbled upon this issue in Litewrite:

https://github.com/litewrite/litewrite/issues/268

The Gist is: 5apps.com is responding with a 404 to Webfinger requests for non-existing users and remoteStorage.js thinks that's not a good enough response and continues its discovery dance by falling back to http, which in turn fails because we don't serve http with CORS headers, and it would only be a redirect to https anyway.

Instead of throwing a discovery error and showing it in the UI, this just triggers console errors and breaks the app/widget however.

Now, the first question of course is, if 404 is a valid response when asking for user information of a user that doesn't exist. Unfortunately the Webfinger spec is so incredibly vague in that regard, that it's basically useless. The only part I found was:

> Likewise, if a server has no information to provide, it might return a JRD with an empty "links" array or no "links" array.

It *might*. Not MAY, SHOULD or MUST, but it just *might*. Whatever else it *might* do instead is left to the reader's imagination it seems.

Does anyone have insights or opinions on this topic? Should we treat it as a bug and accept 404s, should 5apps change it to the *might* quoted above, should we spec the case in the RS draft, ...?

I found this in https://tools.ietf.org/html/rfc7033#section-4.2:

> If the "resource" parameter is a value for which the server has no
   information, the server MUST indicate that it was unable to match the
   request as per Section 10.4.5 of RFC 2616.

And the referenced [10.4.5 of RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.4.5) is the spec for "404 Not Found".

Cool, so we have a contradiction in the webfinger spec.


Ok, so then we SHALL support this case.

This is actually an issue with webfinger.js, so I opened https://github.com/silverbucket/webfinger.js/issues/19.

BTW, I added a test for the 404 case, but it's green for some reason: https://github.com/remotestorage/remotestorage.js/commit/1cbc3464a0738dd67598c2e911b450efca8e0389

This can be resolved right?

The PR is still open, so not yet.